<footer>

    <div class="social-icons">

        <a href="https://github.com/HarryB05" target="_blank" class="social-link">
            <img src="assets/images/socials/github_logo.jpeg" alt="GitHub Logo" class="social-logo">
            <span class="tooltip">Check out my GitHub</span>
        </a>

        <a href="https://www.linkedin.com/in/harry-barnish" target="_blank" class="social-link">
            <img src="assets/images/socials/linkedin_logo.jpeg" alt="LinkedIn Logo" class="social-logo">
            <span class="tooltip">Connect with me on LinkedIn</span>
        </a>

        <a href="https://x.com/_hb05_" target="_blank" class="social-link">
            <img src="assets/images/socials/x_logo.jpg" alt="X Logo" class="social-logo">
            <span class="tooltip">Follow me on X</span>
        </a>

        <a href="https://harryb00.substack.com" target="_blank" class="social-link">
            <img src="assets/images/socials/substack_logo.png" alt="Substack Logo" class="social-logo">
            <span class="tooltip">Checkout my Substack</span>
        </a>

    </div>

    <p class="footer-text">&copy; 2025 Harry Barnish. All Rights Reserved.</p>

</footer>
