.github-graph {
    display: block;
    width: 80%;
    max-width: 40em;
    height: auto;
    margin: 1.25em auto;
    border-radius: 0.625em;
    padding: 0.625em;
    background-color: rgba(20, 25, 30, 0.9);
    box-shadow: 0 0.3125em 0.9375em rgba(0, 170, 255, 0.8);
}

figcaption {
    text-align: center;
    font-size: 0.5625rem;
    color: #666;
    margin-top: 0.5em;
}

figcaption a {
    color: #00aaff;
    text-decoration: none;
    font-weight: 600;
}

figcaption a:hover {
    color: #0077cc;
}
