@media screen and (max-width: 65.625em) {
    header {
        padding: 0.3125em 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0.3125em;
    }

    nav ul li {
        margin: 0.3125em 0;
        width: 100%;
        text-align: center;
    }

    nav ul .login {
        position: static;
        transform: none;
        margin-top: 0.3125em;
    }

    .box-item {
        margin: 0 auto 0.9375em auto;
        width: 90%;
    }

    .box-logo {
        width: 3.75em;
        height: 3.75em;
        display: block;
        margin: 0 auto 0.625em auto;
    }

    .box-list {
        gap: 0.9375em;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 0;
    }

    .box-category {
        margin-bottom: 1.875em;
    }

    .box-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .box-header {
        width: 100%;
        text-align: left;
    }

    .box-header h3 {
        font-size: 0.87890625em; /* 75% of 1.171875em */
    }

    .box-header h2, .box-header h1 {
        font-size: 0.703125em; /* 75% of 0.9375em */
    }

    .nested-box-item {
        padding: 0.9375em;
    }

    form {
        width: 50%;
    }

    input, textarea {
        width: calc(100% - 1.25em);
    }

    .github-graph {
        width: 90%;
        max-width: 100%;
    }

    .social-logo {
        width: 1.7578125em;
        height: 1.7578125em;
        border-radius: 0.25em;
    }

    #typing-title {
        font-size: 1.40625em;
    }

    .warning {
        font-size: 0.6328125em;
    }
}
