.social-icons {
    display: flex;
    justify-content: center;
    gap: 0.9375em;
    margin-top: 0.625em;
}

.social-logo {
    width: 3.125em;
    height: 3.125em;
    border-radius: 0.5em;
    transition: transform 0.3s ease-in-out;
}

.social-logo:hover {
    transform: scale(1.1);
}
